flow.json
[{"id":"e4eb156f.62d7c8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"ba6d5d89.92e25","type":"ui_template","z":"e4eb156f.62d7c8","group":"bf59de34.26c17","name":"","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<title>MG Chatbot</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style>\nbody {\n  font-family: Arial, Helvetica, sans-serif;\n  margin: 0;\n}\n\n/* Style the header */\n.header {\n  padding: 2px;\n  text-align: top-left;\n  background: Blue;\n  color: Yellow;\n\n}\n\n/* Increase the font size of the h1 element */\n.header h3 {\n  font-size: 50px;\n}\n</style>\n</head>\n<body>\n\n<div class=\"header\">\n  <h2>Ebee 3 Thermostat Chatbot</h2>\n  <p></p>\n</div>\n\n<div class=\"content\">\n  <h3></h3>\n  <p><b></b></p>\n  <p> <b></b></p>\n  <p> <b></b></p>\n \n  <p></p>\n</div>\n\n<script>\n// When the user scrolls the page, execute myFunction \nwindow.onscroll = function() {myFunction()};\n\nfunction myFunction() {\n  var winScroll = document.body.scrollTop || document.documentElement.scrollTop;\n  var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;\n  var scrolled = (winScroll / height) * 80;\n  document.getElementById(\"mybar\").style.width = scrolled + \"%\";\n}\n</script>\n\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":480,"y":40,"wires":[[]]},{"id":"b2af1192.ee26e","type":"ui_form","z":"e4eb156f.62d7c8","name":"","label":"","group":"bf59de34.26c17","order":4,"width":"0","height":"0","options":[{"label":"Enter input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"Reset","topic":"","x":70,"y":240,"wires":[["646b32d9.ee89dc"]]},{"id":"646b32d9.ee89dc","type":"function","z":"e4eb156f.62d7c8","name":"F1","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":240,"wires":[["c274b229.9f7f8"]]},{"id":"c274b229.9f7f8","type":"watson-conversation-v1","z":"e4eb156f.62d7c8","name":"","workspaceid":"3c43c09d-4812-40a0-8505-031fdaba9ab7","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/3b07405d-1544-4054-9847-5863fb6ae344","timeout":"","optout-learning":false,"x":340,"y":180,"wires":[["c09db6cd.442c48","2bbe4453.82c59c"]]},{"id":"c09db6cd.442c48","type":"function","z":"e4eb156f.62d7c8","name":"F2","func":"\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":240,"wires":[["c497aa5f.a3c308","cff42a41.eb73a8"]]},{"id":"2bbe4453.82c59c","type":"debug","z":"e4eb156f.62d7c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":100,"wires":[]},{"id":"c497aa5f.a3c308","type":"debug","z":"e4eb156f.62d7c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":200,"wires":[]},{"id":"cff42a41.eb73a8","type":"ui_text","z":"e4eb156f.62d7c8","group":"bf59de34.26c17","order":3,"width":0,"height":0,"name":"","label":"*Response*","format":"{{msg.payload}}","layout":"col-center","x":650,"y":380,"wires":[]},{"id":"bf59de34.26c17","type":"ui_group","z":"","name":"","tab":"c1921b34.806918","order":1,"disp":true,"width":"6","collapse":false},{"id":"c1921b34.806918","type":"ui_tab","z":"","name":"Customer help desk","icon":"dashboard","order":1,"disabled":false,"hidden":false}]